<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입 페이지</title>
</head>
<body>
    <h1>로그인 페이지 입니다...</h1>
    <form action="/join" method="post">
        <label for="">아이디</label>
        <input type="text" name="username" placeholder="아이디를 입력해주십시오" required/>
        <label for="">비밀번호</label>
        <input type="password" name="password" placeholder="비밀번호를 입력해주십시오" required/>
        <label for="">이메일</label>
        <input type="email" name="email" placeholder="이메일을 입력해주십시오"required />
        <button type="submit" style="margin-left:10px;">회원가입</button>
    </form>
</body>
</html>